<ion-view view-title="Add {{footerIcoSelection==1? 'Quran' :footerIcoSelection==2? 'Para':footerIcoSelection==3? 'Surah':''}} {{TabText}} File">
    <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Back</a>
    </ion-nav-buttons>
    <ion-content class="ion-contentColor">
        <div class="list list-inset">
            <label class="item item-input">
               <input type="text" placeholder="Title" ng-model="data.title">
           </label>
           <label class="item item-input">
                Want to Upload a file Or Provide Link       
            </label>  
          <div class="row">
             <button class="button icon-left button-block ion-upload" ng-click="">Upload File</button>&nbsp;
                <button class="button icon-left button-block ion-link" ng-click="showHideLink()">Enter Link</button>
          </div> 
           <label class="item item-input" ng-show="link">
             <input type="text" placeholder="Paste File URL" ng-model="data.title">
           </label>        
        </div>
        <div class="row">

            <button class="button button-block button-positive">Save</button>
        </div>

    </ion-content>
</ion-view>