
<ion-view  view-title="Forgot Password">
      <ion-nav-buttons side="left">
        <a class="button icon-left ion-chevron-left button-clear button-dark" ng-click="goBack()">Back</a>
    </ion-nav-buttons>
   <ion-content class="ion-contentColor">
    
       <div class="list list-inset">
           <label class="item item-input">
               <input type="text" placeholder="Type your email address here" ng-model="data.email">
           </label> 
       </div>
       <div class="row">
           <button class="button button-block button-positive" ng-click="submit(data)">Submit</button>
       </div>
   </ion-content>
</ion-view>
