<ion-view view-title="{{footerIcoSelection==1? 'Quran':footerIcoSelection==2? 'Para':footerIcoSelection==3? 'Surah':''}} Video">
    <ion-nav-buttons side="right">
        <a class="tab-item" ng-show="isShowAddIcon" ng-click="AddFile()">
            <i class="icon ion-plus-circled"></i>
        </a>
    </ion-nav-buttons>
    <ion-content>
        <div class="list card" ng-repeat="video in Files">
            <div class="item">
                <h2>{{video.Title}}</h2>
                <p>{{video.Description}}</p>
            </div>
            <div class="item item-image">
                <img src="https://img.youtube.com/vi/{{video.youtubeID}}/maxresdefault.jpg" width="80%" ng-click="CallVideo(video.youtubeID)" />
            </div>
        </div>    
    </ion-content>

</ion-view>