<ion-view view-title="Account">
  <ion-content>
      <audio controls="" preload="none">
          <source src="https://royalwap.net/128-4878/Mera%20Dil%20Bhi%20Kitna%20Pagal%20Hai.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
      <audio controls="" preload="none">
          <source src="https://royalwap.net/128-789319s/Main%20Tera%20Boyfriend.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>
      <audio controls="" preload="none">
          <source src="https://royalwap.net/128-389689/Lag%20Ja%20Gale%20Ke%20Phir.mp3" type="audio/mpeg">
          Your browser does not support the audio element.
      </audio>

      <p>
          <a ng-click="CallAudio('http://audio.ibeat.org/content/p1rj1s/p1rj1s_-_rockGuitar.mp3')">Play Guitar</a>
      </p>
      <p>
          <a ng-click="CallAudio('https://royalwap.net/320-789121s/Lambiyaan%20Si%20Judaiyaan.mp3')"> Lambiyan Si Judaiyaan </a>
      </p>
      <p>
          <a ng-click="CallAudio('https://royalwap.net/128-389689/Lag%20Ja%20Gale%20Ke%20Phir.mp3')"> Lag Ja Gale ke Phir </a>

      </p>
      <p>   <div>{{setPos}}</div></p>
<p> <div> Audio Duration : {{audio_duration}}</div></p>

<p> <a ng-click="pauseAudio()">Paush </a></p>

      <p>  <a ng-click="stopAudio()">Stop </a></p>

</ion-content>
</ion-view>
