<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">
    <title></title>

    <link rel="manifest" href="manifest.json">

    <!-- un-comment this code to enable service worker
    <script>
      if ('serviceWorker' in navigator) {
        navigator.serviceWorker.register('service-worker.js')
          .then(() => console.log('service worker installed'))
          .catch(err => console.log('Error', err));
      }
    </script>-->

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/customstyle.css" rel="stylesheet" />
    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->
    <!-- ionic/angularjs js -->

    <script src="lib/pdfjs-dist/build/pdf.js"></script>
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic-toast/dist/ionic-toast.bundle.min.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="js\ng-cordova.js"></script>
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>

    <script src="js/services.js"></script>
    <script src="lib/angular-pdf-viewer/dist/angular-pdf-viewer.min.js"></script>

    <script src="controller/QuranAudio.Controller.js"></script>
    <script src="controller/QuranDashboard.controller.js"></script>
    <script src="controller/QuranVideo.Controller.js"></script>
    <script src="controller/ChatDetailCtrl.controller.js"></script>
    <script src="controller/services/httpservice.js"></script>
    <script src="controller/login.controller.js"></script>
    <script src="controller/main.controller.js"></script>
    <script src="controller/registration.controller.js"></script>
    <script src="controller/account.controller.js"></script>
    <script src="controller/myaccount.controller.js"></script>
</head>
<body ng-app="starter" ng-controller="main">
    <!--
      The nav bar that will be updated as we navigate between views.
    -->
    <!--<ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>-->
    <!-- <ion-side-menus enable-menu-with-back-views="true">
        <ion-side-menu-content>
            <ion-nav-bar class="bar-positive">
                <ion-nav-buttons side="left">
                    <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
                </ion-nav-buttons>
                <ion-nav-buttons side="right">
                    <button class="button button-icon button-clear ion-social-rss" ui-sref="addblog"><i class="ion-plus"></i></button>
                </ion-nav-buttons>
                <ion-nav-back-button>
                </ion-nav-back-button>
            </ion-nav-bar>

            <ion-nav-view></ion-nav-view>
        </ion-side-menu-content>
        </ion-side-menus> -->
     <ion-nav-bar class="bar-stable">
        <ion-nav-back-button>
        </ion-nav-back-button>
    </ion-nav-bar>
        <ion-nav-view></ion-nav-view>
        <ion-footer-bar align-title="center" class="bar-custom {{loginStatus? '':'ng-hide'}}">
        <div class="tabs tabs-icon-top">
            <a class="tab-item {{footerIcoSelection==1? 'icoActive':''}}" ng-click="SelectTab(1);">
                <i class="icon ion-home"></i>
                Quran
            </a>
            <a class="tab-item {{footerIcoSelection==2? 'icoActive':''}}" ng-click="SelectTab(2);">
                <i class="icon ion-star"></i>
                Para
            </a>
            <a class="tab-item  {{footerIcoSelection==3? 'icoActive':''}}" ng-click="SelectTab(3);">
                <i class="icon ion-gear-a"></i>
                Surah
            </a>
             <a class="tab-item  {{footerIcoSelection==4? 'icoActive':''}}" ng-click="SelectTab(4);">
                <i class="icon ion-gear-a"></i>
                Community
            </a>
             <a  ui-sref="myaccount" class="tab-item  {{footerIcoSelection==5? 'icoActive':''}}" ng-click="SelectTab(5);">
                <i class="icon ion-gear-a"></i>
                My Account
            </a>
        </div>
    </ion-footer-bar>
</body>
</html>
