/* Empty. Add your own CSS if you like */
 

span.px1 {
    display: block;
    font-size: 11px;
    font-weight: bold;
}

.pdfnexts, .pdfPrevious {
    border-color: transparent;
    background-color: #f8f8f8;
    color: #444;
   
    margin: 0 0 0 5px;
   font-size:16px;
    min-height: -29px !important;
}
.pdfZoomOuts, .pdfZoomIns, .pdfRotates {
    display: none !important;
}
 

canvas.clscnvas {
    width: 100%;
}
.px1 {
    float: right;
    width: 80px;
}
.pdfpgcount.ng-binding {
    /* float: right; */
    /* width: 65px; */
    position: absolute;
    top: 0;
    right: 0;
}
.pgcnt {
  
    position: absolute;
    right: 213px;
    top: -9px;
    width: 12px;
}
.pgcnt input {
    float: right;
    left: 268px;
    position: absolute;
}
.pdfpgcount.ng-binding {
    left: 99px;
    position: absolute;
    top: -2px;
    width: 50px;
}
.px1 {
 display:none;
    left: 241px;
    position: absolute;
 top:0;
}
.button.py2.m0.button-nav-dark {
    line-height: 15px;
    min-height: 20px !important;
}
.icoActive {
color: #387ef5;

}
pdf-viewer-toolbar{position:absolute; left:25px;}
.logoutcsl{    font-size: 17px !important;
    margin: 5px 4px !important;}